{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "relay",
    "react-hot-loader/babel",
    "autobind-class-methods"
  ]
}